<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Remindini | Sign In</title>
    <link rel="stylesheet" href="static/css/signup.css" />
  </head>
  <body>
    <div class="container">
      <div class="left-section">
        <div class="logo-title">
          <h1>Internet of Things</h1>
          <p>Connect everything. Get anything</p>
        </div>
        <img src="static/assets/images/iot_logo.png" alt="IoT Logo" class="iot-logo" />
      </div>

      <div class="right-section">
        <div class="app-title">
          <div class="app-name">
            <img src="static/assets/images/logo.png" alt="app Logo" class="app-logo" />
            <h2>Remindini</h2>
          </div>
          <p>Sign in to your existing account</p>
        </div>
        <button type="button" id="googleSignInBtn" class="btn-google">
          <img src="static/assets/images/google_icon.png" alt="Google Icon" />
          Sign in with Google
        </button>
      </div>
    </div>

  </body>
</html>
